APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:haxsOwGikvOc0ZK2Qazqd2WNXK569UBWpMsNgbYs44U=
APP_DEBUG=true
APP_URL=tb21-lieberherr.heig-vd.ch

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=db
DB_USERNAME="root"
DB_PASSWORD=""

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=f2e5f8edd2725e
MAIL_PASSWORD=3ed1232a37eec2
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=fablab@example.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID="1191165"
PUSHER_APP_KEY="23d1749ad2b7bf6d3315"
PUSHER_APP_SECRET="c97b9e73b31a0a1331ad"
PUSHER_APP_CLUSTER="eu"

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

LARAVEL_WEBSOCKETS_PORT=6001
LARAVEL_WEBSOCKETS_SSL_LOCAL_CERT="/etc/letsencrypt/live/tb21-lieberherr.heig-vd.ch/cert.pem"
LARAVEL_WEBSOCKETS_SSL_LOCAL_PK="/etc/letsencrypt/live/tb21-lieberherr.heig-vd.ch/privkey.pem"
LARAVEL_WEBSOCKETS_SSL_PASSPHRASE=
